html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
}

html::-webkit-scrollbar {
  width: 1vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #641CFD;
}
html::-webkit-scrollbar-track {
  background-color: #a880ff;
}

html::-webkit-scrollbar-track:hover,
html::-webkit-scrollbar-track:hover html::-webkit-scrollbar-thumb {
  background-color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button { 
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  background-color: initial;
  cursor: pointer;
  filter: opacity(0.9);
  transition: 0.06s ease-out;
}
button:active {
  transform: scale(97%);
}
button:hover {
  filter: opacity(1);
}

select {
  cursor: pointer;
}
input, select {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
  font-family: unset;
  font-size: 1rem;
  box-sizing:border-box;
}
input:focus, select:focus {
  outline: 1.2px solid #aaa;
}

