html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button, select { 
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  background-color: initial;
  cursor: pointer;
  filter: opacity(0.9);
  transition: 0.06s ease-out;
}
button:active {
  transform: scale(97%);
}
button:hover {
  filter: opacity(1);
}
input:focus {
  outline: initial;
}
input::placeholder {
  font-family: 'Segoe UI';
}
