.modal {
  z-index: 2000;
}

.modalBackground {
  position: fixed;
  top: 0;
  background-color: #000000ab;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.modalContainer {
  position: relative;
  top: 6%;
  background-color: white;
  min-width: 400px;
  width: 60%;
  max-height: 88%;
  border-radius: 8px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.5);
  padding: 25px 40px;
  overflow: auto;
}

@keyframes showBackground {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}
@keyframes hideBackground {
  from {
    opacity: 1;
  } to {
    opacity: 0;
  }
}

@keyframes showContainer {
  from {
    transform: scale(0.8);
  } to {
    transform: scale(1);
  }
}
@keyframes hideContainer {
  from {
    transform: scale(1);
  } to {
    transform: scale(0.8);
  }
}

.visible .modalBackground {
  animation: showBackground 0.2s ease-in-out;
}
.visible .modalContainer {
  animation: showContainer 0.2s ease-in-out;
}

.hidden .modalBackground {
  animation: hideBackground 0.2s ease-in-out;
}
.hidden .modalContainer {
  animation: hideContainer 0.2s ease-in-out;
}

