.modal {

}

.modalBackground {
  position: fixed;
  top: 0;
  background-color: #000000ab;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  background-color: white;
  min-width: 400px;
  width: 60%;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}