.newItemButton {
  width: 165px;
  height: 45px;
  background-color: #834aff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.06s ease-out;
}

.newItemButton:hover {
  background-color: #641CFD;
}

.newItemButton:active {
  transform: scale(97%);
}

.buttonContainer {
  margin: 5px 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
}