.modal {
  display: flex;
  flex-direction: column;
}

.modalHeader {
  text-align: center;
}

.modalBody form {
  display: flex;
  flex-direction: column;
  min-height: 200px;
}

.modal input {
  width: 100%;
  padding: 10px;
}
