.modal {
  display: flex;
  flex-direction: column;
}

.modalHeader {
  text-align: center;
}

.modalBody form {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 200px;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: bold;
}

.input input {
  padding: 12px;
  margin: 8px 0;
}

.inputAndSelect {
  display: flex;
  align-items: center;
}

.divider {
  margin: 30px 0;
}

.addRemoveInputs {
  display: flex;
  height: 100px;
  justify-content: start;
  align-items: center;
  padding: 0 0 50px 0;
}

.addRemoveInput *:first-child {
  margin-left: 5px;
}
.addRemoveInputs > * {
  margin-right: 5px;
}