.modal {
  display: flex;
  flex-direction: column;
}

.modalHeader {
  text-align: center;
}

.modalBody form {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 200px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: bold;
}

.inputs input, .inputs select {
  padding: 12px;
  margin: 8px 5px 0 0;
}

.inputAndSelect {
  display: flex;
}

.inputAndSelect > select {
  flex-grow: 1;
}
.inputAndSelect > input {
  flex-grow: 7;
}

.divider {
  margin: 30px 0;
}

.addRemoveInputs {
  display: flex;
  height: 100px;
  justify-content: start;
  align-items: center;
  padding: 0 0 50px 0;
}

.addRemoveInput *:first-child {
  margin-left: 5px;
}
.addRemoveInputs > * {
  margin-right: 5px;
}

.closeButton {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
}

.modalFooter {
  display: flex;
  justify-content: center;
}

.modalFooter > * {
  padding-left: 12px;
  padding-right: 12px;
}
.modalFooter > *:first-child {
  margin-left: 
}