.modal {
  display: flex;
  flex-direction: column;
}

.modalHeader {
  text-align: center;
}

.modalBody form {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 200px;
}

.input {
  display: flex;
  flex-direction: column;
}

.divider {
  margin: 30px 0;
}