.tableContainer {
  background-color: #ffffff;
  box-shadow: 0px 0px 4px black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.tableTitle {
  display: flex;
  
}