.tableContainer {
  background-color: #ffffff;
  box-shadow: 0px 0px 4px black;
  position: relative;
  top: 50px;
  padding: 50px;
  width: calc(100vw - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 100px;
  min-height: 70vh;
}

.tableTitle {
  display: flex;
  vertical-align: center;
  justify-content: center;
}

.table {
  width: 100%;
  margin: 50px 0;
}

.table tr {
  box-shadow: 0px 1px 0 #f2f2f2;
}

.table td {
  padding: 10px;
  text-align: center;
}

